<div class="left-panel col-xs-2">
    <div class="userArea row user_{{nickname}}"><img src="http://localhost:8000/photos/{{nickname}}" class="img-circle user-image"/>
        <span class="name users">{{name}}[{{nickname}}]</span>
    </div>
    <div class="online-users row" id="onlineUsers">
        <h4> Пользователи онлайн:</h4>
        {{#users}}
        <div id="user_{{login}}" class="list-users users user_{{login}}"><img src="http://localhost:8000/photos/{{login}}"
                                                               class="img-circle"/>{{name}}[{{login}}]
        </div>
        {{/users}}
    </div>
</div>
<div class="right-panel col-xs-10">
    <div id="messageBoard" class="row chat-area">
        {{#messages}}
        <div class="row">
            <div class="user-message {{whose}} user_{{user.login}}"><img
                    src="http://localhost:8000/photos/{{user.login}}" class="img-circle photo-in-chat"/>
                {{user.name}}[{{user.login}}]
                <span class="time">{{time}}</span>
                <div class="message">{{body}}</div>
            </div>
        </div>
        {{/messages}}
    </div>
    <div class="row input-place">
        <div class="col-xs-10"><textarea type="text" value="" placeholder="Начните набирать сообщение" id="messageField"
                                         class="form-control"></textarea></div>
        <div class="col-xs-2">
            <button class="btn btn-primary" id="sendMessageButton" type="button" value="SEND">Написать</button>
        </div>
    </div>
</div>
<div id="load-file-panel" class="hide">
    <div class="header">
        <h4>
            Загрузить фото<span class="glyphicon glyphicon-remove close-file-panel"></span>
        </h4>
    </div>
    <div class="file-panel-body">
        <div class="drop-area">Перетащите сюда файлы</div>
    </div>
    <div class="file-buttons"><button class="btn btn-primary" id="loadFotoButton" type="button" value="LOAD">Загрузить</button></div>
</div>